@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap");
/*===== VARIABLES CSS Y SASS =====*/
/*Varibles sass*/
/*Variables css*/
/*===== Colores =====*/
:root {
  --first-color: #003A45;
  --second-color: #FFB909;
  --white-color: #FFFFFF;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: 'Quicksand', sans-serif;
  --small-font-size: 0.875rem;
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*===== BASE =====*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0 0 0 56px;
  font-family: var(--body-font);
  background-color: var(--white-color);
  -webkit-transition: .5s;
  transition: .5s;
}

h1,h2,h3 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/*=====  NAV =====*/
.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 56px;
  height: 100vh;
  background-color: var(--first-color);
  padding: 1.25rem .5rem 2rem;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  padding: 0 .5rem;
}

.nav__logo-icon {
  max-width: 20px;
  margin-right: 1.2rem;
}

.nav__logo-text {
  color: var(--white-color);
  font-weight: 700;
}

.nav__toggle {
  position: absolute;
  top: 1.10rem;
  right: -.6rem;
  width: 18px;
  height: 18px;
  background-color: var(--second-color);
  border-radius: 50%;
  font-size: 1.25rem;
  color: var(--first-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  color: var(--white-color);
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__link:hover {
  background-color: var(--second-color);
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.nav__text {
  font-weight: 700;
}

/*mostrar menu*/
.show {
  width: 168px;
}

/*rotar toggle*/
.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .5s;
  transition: .5s;
}

/*Activar links menu*/
.active {
  background-color: var(--second-color);
  color: var(--first-color);
}

/*Agregar padding al body*/
.expander {
  padding: 0 0 0 168px;
  -webkit-transition: .5s;
  transition: .5s;
}
/*texto index centrado*/
.gridIndex{
  margin: auto;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
}
.texto1{
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  align-items: flex-end;
  font-family: Montserrat;
}
.texto1 h3 {
  font-size: 22px;
  font-weight: normal;
}
.texto2{
  margin-top: -25px;
  margin-bottom: -25px;
  grid-column: 2/3;
  grid-row: 2/3;
  z-index: 0;
}
.texto3{
  grid-column: 2/3;
  grid-row: 3/4;
  font-family: Montserrat;
}
.texto3 h3{
  font-size: 22px;
  font-weight: normal;
}
.texto4{
  grid-column: 2/3;
  grid-row: 2/3;
  font-family: Montserrat;
  color: var(--first-color);
  display: flex;
  align-items: center;
  z-index: 1;
}
.texto4 h1{
  font-weight: bold;
  font-size: 85px;
}

.textoSinFondo{
 
  margin-top: 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 155px;
  /* or 62px */
  text-transform: uppercase;
  -webkit-text-stroke: 2px #01C6EF;
  color: transparent; 
}
.imgCartoonDiv{
  grid-column: 2/3;
  grid-row: 1/4;
  /*background-color: yellowgreen;*/
  height: 100%;;
  display: flex;
  align-items: center;
  margin-left: auto;
  z-index: 2;
}
.imgCartoon{
  max-width: 350px;
}
/*===== Skilss Section =====*/
.skills{
  height: 100vh;
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: auto auto 1fr;
}
.skills .generalTitle1{
  grid-column: 1/1;
  grid-row: 1/2;
  display: flex;
  justify-self: center;
  align-items: center;
}
.skills .generalTitle2{
  grid-column: 1/1;
  grid-row: 1/2;
  display: flex;
  justify-self: center;
  align-items: center;
}
.generalTitle1 h1{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 120px;
  color: rgba(0, 58, 69, 0.1);
}
.generalTitle2 h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  color: #003A45;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; 
}
.skillsParrafo1{
  display: flex;
  justify-self: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 18px;
}
.skillsBox{
  margin: auto;
  width: 90%;
  
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 50px;
  row-gap: 50px;
}
.skillBox{
  width: 150px;
  height: 165px;
  -webkit-box-shadow: 0px 7px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 7px 8px 0px rgba(0,0,0,0.25);
  cursor: pointer;
}
.skillBoxImg{
  height: 125px;
  width: 100%;
  background: rgba(255, 75, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.skillBoxImg img{
  height: 85px;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.skillBox:hover{
  animation: rotateOut; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s;
  
}
.skillBoxTxt{
  width: 100%;
  height: 40px;
  background-color: var(--first-color);
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* //skills section// */
.contact{
  height: 100vh;
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: auto 1fr;
  font-family: Montserrat;
}
.contact .generalTitle1{
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  justify-self: center;
  align-items: center;
}
.contact .generalTitle2{
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  justify-self: center;
  align-items: center;
}
.contact .txtForm {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.contact .txtForm h3{
  font-size: 22px;
  color: #003A45;
  display: flex;
  justify-content: left;
}
.information {
  display: flex;
  color: #000;
  margin: 0rem 0;
  align-items: center;
  font-family: Montserrat;
  font-size: 0.95rem;
}

.contact .icon {
  color: #FFB909;
  width: 25px;
  margin-right: 0.7rem;
  font-size: 25px;
}
.social_icons {
  position: relative;
  display: flex;
  margin-top: 5px;
}

.social_icons li {
  list-style: none;
  margin: 4px;
}

.social_icons li a {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #003A45;
  border-radius: .5rem;
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}

.social_icons li a:hover {
  transform: rotate(360deg);
  background: #FFB909;
}
.contact-form{
  width: 100%;
}
.l-form{
  width: 100%;
  
}
.form{
  padding-right: 60px;
  padding-left: 60px;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: Montserrat;
}
.form__div{
  position: relative;
  height: 48px;
  margin-bottom: 1.5rem;
}
.form__div48{
  width: 48%;
}
.form__div100{
  width: 100%;
}
.txtArea{
  width: 100%;
  height: 200px;
}
.form__input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  border: none;
  border-radius: .5rem;
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
}
.form__label{
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 0 .25rem;
  background-color: #e5ebec;
  color: #000;
  font-size: 16px;
  transition: .3s;
}
input[type="text"], textarea {

  background-color : rgba(0, 58, 69, 0.1);

}
textarea{
  border-radius: .5rem;
  padding: 10px;
  font-family: Montserrat;
  font-size: 16px;
}
textarea:focus+ .form__label{
  top: -.5rem;
  left: .8rem;
  color: var(--first-color);
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}
textarea:not(:placeholder-shown) + .form__label{
  top: -.5rem;
  left: .8rem;
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}
textarea:focus{
  outline-color: #FFB909;
}
/*Input focus move up label*/
.form__input:focus + .form__label{
  top: -.5rem;
  left: .8rem;
  background-color: #e5ebec;
  border: 1.5px solid #FFB909;
  border-radius: .5rem;
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}

/*Input focus sticky top label*/
.form__input:not(:placeholder-shown).form__input:not(:focus)+ .form__label{
  top: -.5rem;
  left: .8rem;
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}

/*Input focus*/
.form__input:focus{
  border: 1.5px solid #FFB909;
}
/*===== mediaquery Section =====*/
@media (max-width: 1000px) {
  .gridIndex{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr;
  }
  .texto1{
    grid-column: 1/1;
    grid-row: 1/1;
    justify-self: center;
    align-items: center;
  }
  .texto2{
    display: none;
    grid-column: 1/1;
    grid-row: 2/2;
    justify-self: center;
    align-items: center;
  }
  .texto2 h1{
    font-size: 100px;
  }
  .texto3{
    display: flex;
    grid-column: 1/1;
    grid-row: 3/4;
    justify-self: center;
    align-items: center;
  }
  .texto4{
    grid-column: 1/1;
    grid-row: 2/3;
    justify-self: center;
    align-items: center;
  }
  .texto4 h1{
    font-size: 80px;
  }
  .imgCartoonDiv{
    grid-column: 1/1;
    grid-row: 4/4;
    justify-self: center;
    margin-left: 0px;
  }
  /* //skills section// */
  .skills .generalTitle1 h1{
    font-size: 80px;
  }
  .skills .generalTitle2 h2{
    font-size: 40px;
  }
  .skillsParrafo1 {
    font-size: 14px;
  }
  .skillBoxTxt{
    font-size: 12px;
  }
  .skillBox{
    width: 120px;
    height: 135px;
  }
  .skillBoxImg{
    height: 100px;
  }
  .skillBoxTxt{
    height: 35px;
  }
  .skillBoxImg img{
    height: 65px;
  }
}
@media (max-width: 760px){
  /* //skills section// */
  .skills .generalTitle1 h1{
    font-size: 60px;
  }
  .skills .generalTitle2 h2{
    font-size: 30px;
  }
}
@media (max-width: 650px){
  .texto4 h1{
    font-size: 40px;
  }
  .imgCartoonDiv{
    justify-self: center;
    align-items: center;
  }
  .imgCartoon{
    margin: auto;
    max-width: 80%;
  }
  .skills .generalTitle1{
    display: none;
  }
}

